<div id="calendar-container">
  <h3 style="width:100%; text-align:center;" class="main-pages-title">Timeline</h3>
  <div id="calendar-header">
    <header>
      <div class="row">
        <div class="calendar-main-title col-md-12 col-sm-12 col-xs-12">
          Product availability on Copernicus Open Access Hub
        </div>
      </div>
      <div class="calendar-title">
      </div>
    </header>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="calendar-info-date ">click on a date for more details
      </div>
      <div class="calendar-date-detail ">
      </div>
      <div class="col-md-6 col-lg-push-6 col-md-push-6">
        <div class=" row ">
          <div class="btn-group btn-group-lg calendar-mission-buttons" role="group" aria-label="...">
            <button type="button"
              class="btn btn-default setAll all-mission-label calendar-buttons calendar-all trends-mission-button"
              data-toggle="button" aria-pressed="true" title="All Sentinels"><img
                src="../../assets/images/sentinels/all-sentinels.png" class="calendar-img-all">All</button>
            <button type="button" class="btn btn-default setSentinel1 trends-mission-button calendar-buttons S1"
              data-toggle="button" aria-pressed="false" title="Sentinel-1"><img
                src="../../assets/images/sentinels/s-1a_black.png" class="calendar-img-sentinels">S-1</button>
            <button type="button" class="btn btn-default setSentinel2 trends-mission-button calendar-buttons S2"
              data-toggle="button" aria-pressed="false" title="Sentinel-2"><img
                src="../../assets/images/sentinels/s-2a_black.png" class="calendar-img-sentinels">S-2</button>
            <button type="button" class="btn btn-default setSentinel3 trends-mission-button calendar-buttons S3"
              data-toggle="button" aria-pressed="false" title="Sentinel-3"><img
                src="../../assets/images/sentinels/sentinel-3.png" class="calendar-img-sentinels">S-3</button>
            <button type="button" class="btn btn-default setSentinel5 trends-mission-button calendar-buttons S5"
              data-toggle="button" aria-pressed="false" title="Sentinel-5P"><img
                src="../../assets/images/sentinels/sentinel5p.png" class="calendar-img-sentinels">S-5P</button>
          </div>
        </div>
        <div class=" row mission-buttons ">
          <div class="col-md-2 col-sm-3 col-xs-3 min-product-number-per-date calendar-legend ">1</div>
          <div class="col-md-8 col-sm-6 col-xs-6 mission-bar calendar-legend "></div>
          <div class="col-md-2 col-sm-3 col-xs-3 max-product-number-per-date calendar-legend "></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-pull-6 col-md-pull-6 flipped " id="right">
        <div class=" row calendar-content calcontent " id="calendar-content"></div>
        <div class=" row calendar-content calcontent " id="calendar-content-curryear"></div>
      </div>
    </div>
  </div>
</div>