#navigation-manager {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nomap {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  margin-bottom: 20px;
}

.chart div {
  font: 10px sans-serif;
  background-color: white;
  padding: 3px;
  margin: 1px;
  color: white;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#chart_placeholder {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
  overflow-y: auto;
}

#calendar-content .month {
  fill: none !important;
  stroke: #000;
  stroke-width: 2px;
}

#calendar-content-curryear .month {
  fill: none !important;
  stroke: #000;
  stroke-width: 2px;
}

#calendar-content .day {
  fill: #fff !important;
  stroke: #ccc !important;
}

#calendar-content-curryear .day {
  fill: #fff !important;
  stroke: #ccc !important;
}

.RdYlGn .q0-11 {
  fill: rgb(165, 0, 38)
}

.RdYlGn .q1-11 {
  fill: rgb(215, 48, 39)
}

.RdYlGn .q2-11 {
  fill: rgb(244, 109, 67)
}

.RdYlGn .q3-11 {
  fill: rgb(253, 174, 97)
}

.RdYlGn .q4-11 {
  fill: rgb(254, 224, 139)
}

.RdYlGn .q5-11 {
  fill: rgb(255, 255, 191)
}

.RdYlGn .q6-11 {
  fill: rgb(217, 239, 139)
}

.RdYlGn .q7-11 {
  fill: rgb(166, 217, 106)
}

.RdYlGn .q8-11 {
  fill: rgb(102, 189, 99)
}

.RdYlGn .q9-11 {
  fill: rgb(26, 152, 80)
}

.RdYlGn .q10-11 {
  fill: rgb(0, 104, 55)
}

.calendar-content {
  /*max-height: calc(100% - 150px);*/
  overflow-y: auto !important;
  overflow-x: auto !important;
  /* width: 100%;*/
}

#calendar-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#calendar-container header {
  width: 100%;
  height: 80px;
  /*position: fixed; */
  background: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.calendar-title {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: normal !important;
}

.mission-button {
  height: 56px;
  margin: auto;
  width: 56px;
  font-size: 18px;
}

.mission-all-button {
  height: 56px;
  margin: auto;
  width: 0px;
}

.mission-bar {
  /* min-height: 100%; */
  max-height: 30px !important;
  background: grey;
  padding-bottom: 0px !important;
  padding-top: 30px;
}

.calendar-main-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 22px;
}

.max-product-number-per-date {
  color: black;
  text-align: right;
  font-size: 16px !important;
}

.min-product-number-per-date {
  color: black;
  font-size: 16px !important;
}

.calendar-main-title h2 {
  text-align: left;
  padding-left: 20px;
}

.calendar-buttons {
  font-size: 18px;
  height: 60px;
  padding: 4px !important;
}

.trends-mission-button {
  width: 75px !important;
}

@media screen and (min-width: 1200px) {
  .mission-buttons {
    /* min-height: 100%; */
    height: auto;
    margin: auto;
    width: 80%;
    /* min-height: calc(100% - 200px); */
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 100px;
    padding-left: 30px;
  }
  .svg-container {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #right {
    top: 0;
    bottom: 0;
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 650px;
  }
  .calendar-content {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .mission-label {
    font-size: 18px;
  }
  .calendar-mission-buttons {
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .calendar-img-all {
    height: 32px;
    width: 0;
  }
  .calendar-img-sentinels {
    height: 32px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  #calendar-container header {
    font-size: 16px;
  }
  .calendar-title {
    font-size: 16px;
  }
  .calendar-main-title {
    font-size: 18px;
  }
  .calendar-date-detail {
    font-size: 16px;
  }
  .mission-buttons {
    /* min-height: 100%; */
    height: auto;
    margin: auto;
    width: 80%;
    /* min-height: calc(100% - 200px); */
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 100px;
    padding-left: 30px;
  }
  .svg-container {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #right {
    top: 0;
    bottom: 0;
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 650px;
  }
  .calendar-content {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .mission-button {
    height: 30px !important;
    margin: auto !important;
    width: 30px !important;
  }
  .mission-all-button {
    height: 30px !important;
    margin: auto !important;
    width: 0px !important;
  }
  .mission-label {
    font-size: 16px;
  }
  .calendar-mission-buttons {
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .calendar-img-all {
    height: 32px;
    width: 0;
  }
  .calendar-img-sentinels {
    height: 32px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #calendar-container header {
    font-size: 14px;
  }
  .calendar-title {
    font-size: 14px;
  }
  .calendar-main-title {
    font-size: 16px;
  }
  .calendar-date-detail {
    font-size: 14px;
  }
  .mission-buttons {
    /* min-height: 100%; */
    height: auto;
    margin: auto;
    width: 80%;
    /* min-height: calc(100% - 200px); */
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px !important;
  }
  .svg-container {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #right {
    top: 0;
    bottom: 0;
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 650px;
  }
  .mission-button {
    height: 30px !important;
    margin: auto !important;
    width: 30px !important;
  }
  .mission-all-button {
    height: 30px !important;
    margin: auto !important;
    width: 0px !important;
  }
  .calendar-content {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .calendar-main-title h2 {
    font-size: 16px;
  }
  .mission-label {
    font-size: 15px;
  }
  .calendar-mission-buttons {
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .calendar-img-all {
    height: 32px;
    width: 0;
  }
  .calendar-img-sentinels {
    height: 32px;
  }
}

@media screen and (max-width: 768px) {
  #calendar-container header {
    font-size: 14px;
  }
  .calendar-title {
    font-size: 16px !important;
  }
  .calendar-main-title {
    font-size: 14px;
  }
  .calendar-date-detail {
    font-size: 14px !important;
  }
  .mission-buttons {
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    width: 100%;
  }
  .svg-container {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #right {
    top: 0;
    bottom: 0;
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 650px;
  }
  .mission-button {
    height: 30px !important;
    margin: auto !important;
    width: 30px !important;
  }
  .mission-label {
    font-size: 14px !important;
  }
  .mission-all-button {
    height: 30px !important;
    margin: auto !important;
    width: 0px !important;
  }
  .mission-bar {
    /* min-height: 100%; */
    max-height: 20px !important;
    background: grey;
    padding-bottom: 0px !important;
    padding-top: 20px;
  }
  .max-product-number-per-date {
    font-size: 14px !important;
  }
  .min-product-number-per-date {
    font-size: 14px !important;
  }
  .calendar-content {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .calendar-main-title h2 {
    font-size: 16px;
  }
  .calendar-mission-buttons {
    width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .calendar-img-all {
    height: 25px !important;
    width: 0px;
  }
  .calendar-img-sentinels {
    height: 25px !important;
  }
  .trends-mission-button {
    width: 65px !important;
  }
}

@media screen and (max-height: 700px) {
  #right {
    height: 450px !important;
  }
  .mission-bar {
    /* min-height: 100%; */
    max-height: 20px !important;
    background: grey;
    padding-bottom: 0px !important;
    padding-top: 20px;
  }
  .mission-button {
    height: 30px !important;
    margin: auto !important;
    width: 30px !important;
  }
  .mission-all-button {
    height: 30px;
    margin: auto;
    width: 30px;
  }
  .mission-buttons {
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px !important;
    padding-top: 10px;
    width: 100%;
  }
  .max-product-number-per-date {
    font-size: 14px !important;
  }
  .min-product-number-per-date {
    font-size: 14px !important;
  }
  .calendar-main-title h2 {
    font-size: 16px;
  }
  .mission-label {
    font-size: 14px !important;
  }
  .calendar-mission-buttons {
    width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .calendar-img-all {
    height: 32px;
    width: 0px;
  }
  .calendar-img-sentinels {
    height: 32px;
  }
}

#calendar-header {
  width: 100%;
  left: 0;
  right: 0;
}

.calendar-date-detail {
  font-size: 18px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  text-align: -webkit-center;
  height: 30px;
}

.calendar-page-column {
  padding: 0px;
  background-color: #fdfdfd;
  /*border-radius: 20px;*/
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

#calendar-content .month-title {
  font-size: 14px !important;
  font-weight: bold !important;
}

#calendar-content-curryear .month-title {
  font-size: 14px !important;
  font-weight: bold !important;
}

#calendar-content .calendar-year-label {
  font-size: 20px !important;
  font-weight: bold !important;
}

#calendar-content-curryear .calendar-year-label {
  font-size: 20px !important;
  font-weight: bold !important;
}

.calendar-date-details {
  max-height: calc(100% - 40px);
  overflow-y: auto;
  margin-top: 40px;
  position: relative;
}

.calendar-date-details>ul {
  padding-left: 15px;
}

.calendar-date-details li {
  list-style-type: none;
  margin: 0;
  height: 20px !important;
  font-size: 12px;
  font-weight: bold;
}

.calendar-date-details li::before, .calendar-date-details li::after {
  content: '';
  left: -30px;
  position: absolute;
  right: auto
}

.calendar-date-details li::before {
  border-left: 1px solid #eaeaea;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px
}

.calendar-date-details li::after {
  border-top: 1px solid #eaeaea;
  height: 20px;
  top: 25px;
  width: 35px
}

.calendar-date-details li>span {
  display: inline-block;
  padding: 5px;
  text-decoration: none
}

.calendar-date-details li.parent_li>span {
  cursor: pointer
}

.calendar-date-details>ul>li::before, .calendar-date-details>ul>li::after {
  border: 0
}

.calendar-date-details li:last-child::before {
  height: 30px
}

.calendar-date-details li>span:hover {
  background: #eaeaea;
}

.calendar-date-details li.parent_li>span:hover+ul li.li_selected span {
  background: #eaeaea;
}

.calendar-date-details li>span>a {
  color: #373b50;
  text-decoration: none;
}

.calendar-date-details li:hover>span:hover>a:hover {
  background: #eaeaea;
  text-decoration: none;
}

.calendar-date-details li>span>span.glyphicon-folder-close, .calendar-date-details li>span>span.glyphicon-folder-open {
  margin-right: 5px;
}

.calendar-date-details li.li_selected>span, .calendar-date-details li.li_selected>span>a {
  background: #eaeaea;
}

.calendar-date-details li.li_selected>span:hover, .calendar-date-details li.li_selected>span:hover>a {
  background: #eaeaea;
}

.calendar-selected-date {
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 20px;
}

.calendar-details-description {
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}

.flipped {
  direction: rtl;
}

.calcontent {
  direction: ltr;
}

.calendar-info-date {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  text-align: -webkit-center;
  padding-top: 10px;
}

.calendar-info-hide {
  display: none;
  cursor: default;
}

.calendar-info-icon {
  padding: 5px;
  cursor: pointer;
  opacity: 1;
  /*opacity: 0.65;*/
}

.calendar-info-icon:hover {
  opacity: 0.65;
}

.all-mission-label {
  font-size: 24px !important;
  font-weight: bold;
}