<!-- <button (click)="clear()" class="btn btn-primary">CLEAR</button>
<button (click)="update()" class="btn btn-primary">UPDATE</button> -->
<div class="container-fluid big">
	<div class="row">

		<!-- LEFT -->
		<div class="dad2-carousel1-container-1 col-md-10 col-md-offset-1">
			<svg xmlns:osb="http://www.openswatchbook.org/uri/2009/osb" xmlns:dc="http://purl.org/dc/elements/1.1/"
				xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
				xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="100%" height="100%"
				viewBox="0 0 283.46458 148.81889" id="svg39371" version="1.1" inkscape:version="0.91 r13725"
				sodipodi:docname="page1_icons_study2_with_URLs.svg">

				<!-- <script type="text/ecmascript">< ![CDATA[
              function carouselSlide(number) {
                $("#carousel-1").show();
                $("#carousel-1").carousel(number);
                $(window).trigger("resizePies");
                var newHeight = $(window).height() - $(".my-navbar").height() - $(".footer-container").height();
                $('.carousel-inner').height(newHeight);
              }
            ]] >
          </script> -->
				<defs id="defs39373">
					<linearGradient id="linearGradient11595" osb:paint="solid">
						<stop style="stop-color:#ffffff;stop-opacity:1;" offset="0" id="stop11597" />
					</linearGradient>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter8593">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood8595" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite8597" />
						<feGaussianBlur in="composite1" stdDeviation="13" result="blur" id="feGaussianBlur8599" />
						<feOffset dx="-29.4" dy="-38" result="offset" id="feOffset8601" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="fbSourceGraphic"
							id="feComposite8603" />
						<feColorMatrix result="fbSourceGraphicAlpha" in="fbSourceGraphic"
							values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0" id="feColorMatrix8605" />
						<feFlood id="feFlood8607" flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood"
							in="fbSourceGraphic" />
						<feComposite id="feComposite8609" in2="fbSourceGraphic" in="flood" operator="in" result="composite1" />
						<feGaussianBlur id="feGaussianBlur8611" in="composite1" stdDeviation="13" result="blur" />
						<feOffset id="feOffset8613" dx="-29.4" dy="15.4" result="offset" />
						<feComposite id="feComposite8615" in2="offset" in="fbSourceGraphic" operator="over"
							result="fbSourceGraphic" />
						<feColorMatrix result="fbSourceGraphicAlpha" in="fbSourceGraphic"
							values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0" id="feColorMatrix8617" />
						<feFlood id="feFlood8619" flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood"
							in="fbSourceGraphic" />
						<feComposite id="feComposite8621" in2="fbSourceGraphic" in="flood" operator="in" result="composite1" />
						<feGaussianBlur id="feGaussianBlur8623" in="composite1" stdDeviation="13" result="blur" />
						<feOffset id="feOffset8625" dx="16.4" dy="15.4" result="offset" />
						<feComposite id="feComposite8627" in2="offset" in="fbSourceGraphic" operator="over"
							result="fbSourceGraphic" />
						<feColorMatrix result="fbSourceGraphicAlpha" in="fbSourceGraphic"
							values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0" id="feColorMatrix8653" />
						<feFlood id="feFlood8655" flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood"
							in="fbSourceGraphic" />
						<feComposite id="feComposite8657" in2="fbSourceGraphic" in="flood" operator="in" result="composite1" />
						<feGaussianBlur id="feGaussianBlur8659" in="composite1" stdDeviation="13" result="blur" />
						<feOffset id="feOffset8661" dx="32" dy="15.4" result="offset" />
						<feComposite id="feComposite8663" in2="offset" in="fbSourceGraphic" operator="over"
							result="fbSourceGraphic" />
						<feColorMatrix result="fbSourceGraphicAlpha" in="fbSourceGraphic"
							values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0" id="feColorMatrix8665" />
						<feFlood id="feFlood8667" flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood"
							in="fbSourceGraphic" />
						<feComposite id="feComposite8669" in2="fbSourceGraphic" in="flood" operator="in" result="composite1" />
						<feGaussianBlur id="feGaussianBlur8671" in="composite1" stdDeviation="13" result="blur" />
						<feOffset id="feOffset8673" dx="32" dy="17.2" result="offset" />
						<feComposite id="feComposite8675" in2="offset" in="fbSourceGraphic" operator="over"
							result="fbSourceGraphic" />
						<feColorMatrix result="fbSourceGraphicAlpha" in="fbSourceGraphic"
							values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0" id="feColorMatrix8833" />
						<feFlood id="feFlood8835" flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood"
							in="fbSourceGraphic" />
						<feComposite id="feComposite8837" in2="fbSourceGraphic" in="flood" operator="in" result="composite1" />
						<feGaussianBlur id="feGaussianBlur8839" in="composite1" stdDeviation="4.7" result="blur" />
						<feOffset id="feOffset8841" dx="7.8" dy="28.9062" result="offset" />
						<feComposite id="feComposite8843" in2="offset" in="fbSourceGraphic" operator="over" result="composite2" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter9265">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood9267" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite9269" />
						<feGaussianBlur in="composite1" stdDeviation="4" result="blur" id="feGaussianBlur9271" />
						<feOffset dx="1" dy="1" result="offset" id="feOffset9273" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="fbSourceGraphic"
							id="feComposite9275" />
						<feColorMatrix result="fbSourceGraphicAlpha" in="fbSourceGraphic"
							values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0" id="feColorMatrix9277" />
						<feFlood id="feFlood9279" flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood"
							in="fbSourceGraphic" />
						<feComposite id="feComposite9281" in2="fbSourceGraphic" in="flood" operator="in" result="composite1" />
						<feGaussianBlur id="feGaussianBlur9283" in="composite1" stdDeviation="4" result="blur" />
						<feOffset id="feOffset9285" dx="1" dy="1" result="offset" />
						<feComposite id="feComposite9287" in2="offset" in="fbSourceGraphic" operator="over"
							result="fbSourceGraphic" />
						<feColorMatrix result="fbSourceGraphicAlpha" in="fbSourceGraphic"
							values="0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0" id="feColorMatrix10141" />
						<feFlood id="feFlood10143" flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood"
							in="fbSourceGraphic" />
						<feComposite id="feComposite10145" in2="fbSourceGraphic" in="flood" operator="in" result="composite1" />
						<feGaussianBlur id="feGaussianBlur10147" in="composite1" stdDeviation="1" result="blur" />
						<feOffset id="feOffset10149" dx="-1" dy="-1" result="offset" />
						<feComposite id="feComposite10151" in2="offset" in="fbSourceGraphic" operator="over" result="composite2" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter10129">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood10131" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite10133" />
						<feGaussianBlur in="composite1" stdDeviation="1" result="blur" id="feGaussianBlur10135" />
						<feOffset dx="-1" dy="-1" result="offset" id="feOffset10137" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite10139" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter10477">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood10479" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite10481" />
						<feGaussianBlur in="composite1" stdDeviation="0.5" result="blur" id="feGaussianBlur10483" />
						<feOffset dx="-0.5" dy="-0.5" result="offset" id="feOffset10485" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite10487" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter10777">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood10779" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite10781" />
						<feGaussianBlur in="composite1" stdDeviation="1.3" result="blur" id="feGaussianBlur10783" />
						<feOffset dx="-3" dy="2" result="offset" id="feOffset10785" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite10787" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter10808">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood10810" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite10812" />
						<feGaussianBlur in="composite1" stdDeviation="1.3" result="blur" id="feGaussianBlur10814" />
						<feOffset dx="-3" dy="2" result="offset" id="feOffset10816" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite10818" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter11156">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood11158" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite11160" />
						<feGaussianBlur in="composite1" stdDeviation="1.5" result="blur" id="feGaussianBlur11162" />
						<feOffset dx="-1.5" dy="-1.3" result="offset" id="feOffset11164" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite11166" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter10808-1">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood10810-8" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite10812-3" />
						<feGaussianBlur in="composite1" stdDeviation="1.3" result="blur" id="feGaussianBlur10814-1" />
						<feOffset dx="-3" dy="2" result="offset" id="feOffset10816-9" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite10818-3" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter10808-5">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood10810-1" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite10812-9" />
						<feGaussianBlur in="composite1" stdDeviation="1.3" result="blur" id="feGaussianBlur10814-2" />
						<feOffset dx="-3" dy="2" result="offset" id="feOffset10816-3" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite10818-4" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter11337">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood11339" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite11341" />
						<feGaussianBlur in="composite1" stdDeviation="1.5" result="blur" id="feGaussianBlur11343" />
						<feOffset dx="-1.5" dy="-1.3" result="offset" id="feOffset11345" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite11347" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter10808-5-7">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood10810-1-8" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite10812-9-0" />
						<feGaussianBlur in="composite1" stdDeviation="1.3" result="blur" id="feGaussianBlur10814-2-7" />
						<feOffset dx="-3" dy="2" result="offset" id="feOffset10816-3-7" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2"
							id="feComposite10818-4-6" />
					</filter>
					<filter style="color-interpolation-filters:sRGB" id="filter11993" inkscape:label="filtro12" />
					<filter style="color-interpolation-filters:sRGB" inkscape:label="Drop Shadow" id="filter12251">
						<feFlood flood-opacity="0.498039" flood-color="rgb(0,0,0)" result="flood" id="feFlood12253" />
						<feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" id="feComposite12255" />
						<feGaussianBlur in="composite1" stdDeviation="1.5" result="blur" id="feGaussianBlur12257" />
						<feOffset dx="-0.7" dy="1.2" result="offset" id="feOffset12259" />
						<feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" id="feComposite12261" />
					</filter>
				</defs>
				<sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
					inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="10.347741" inkscape:cx="100.12376"
					inkscape:cy="44.395897" inkscape:document-units="px" inkscape:current-layer="g8328" showgrid="false"
					inkscape:window-width="1920" inkscape:window-height="1018" inkscape:window-x="-8" inkscape:window-y="-8"
					inkscape:window-maximized="1" fit-margin-top="0" fit-margin-left="0.8" fit-margin-right="0"
					fit-margin-bottom="0.2" />
				<metadata id="metadata39376">
					<rdf:RDF>
						<cc:Work rdf:about="">
							<dc:format>image/svg+xml</dc:format>
							<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
							<dc:title />
						</cc:Work>
					</rdf:RDF>
				</metadata>
				<g inkscape:label="Livello 1" inkscape:groupmode="layer" id="layer1"
					transform="translate(-305.70746,-454.69614)">
					<rect style="opacity:1;fill:none;fill-opacity:1;stroke:none;stroke-width:1.39589453;stroke-opacity:1"
						id="rect43917" width="482.38147 " height="242.69702" x="148.99724" y="400.37866" />
					<g id="g18225-9" transform="matrix(1.25,0,0,-1.25,283.73112,560.25921)" />
					<a id="a8339" (click)="carouselSlide(7)">
						<g id="g8297">
							<g id="g11327-7" transform="matrix(1.0137208,0,0,1.0137208,66.380464,-293.10366)"
								style="filter:url(#filter10808-5)">
								<g id="g11394">
									<circle
										style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#e37222;stroke-width:1.90147567;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
										id="path11250-0" cx="377.34961" cy="812.76575" r="51.841511" />
								</g>
							</g>
							<text y="534.1405" x="449.83936" id="text18205"
								style="font-variant:normal;font-weight:900;font-stretch:normal;font-size:2.96700549px;font-family:'Roboto Black';-inkscape-font-specification:Roboto-Black;writing-mode:lr-tb;fill:#8562a3;fill-opacity:1;fill-rule:nonzero;stroke:none">
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:6.74647999px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle"
									x="449.83936" y="534.1405" id="tspan29216">Volume of User Downloads</tspan>
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.67404556px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#000000"
									x="449.83936" y="544.45502" id="txtUserDownloads">{{volumeOfUsersDownloads}}</tspan>
							</text>
							<g id="g3" transform="matrix(0.42497841,0,0,0.42497842,355.96729,528.71551)">
								<g id="g5">
									<g style="fill:#e37222;fill-opacity:1"
										transform="matrix(0.48989467,0,0,0.48989467,179.11416,-87.094539)" id="g8283">
										<path style="fill:#e37222;fill-opacity:1" inkscape:connector-curvature="0"
											d="m 87.586,3.477 0,10.145 c 0.365,0 0.712,-0.082 1.084,0 l 66.14,13.226 c 3.009,0.597 4.957,3.528 4.36,6.533 -0.53,2.643 -2.85,4.463 -5.443,4.463 -0.354,0 -0.725,-0.042 -1.097,-0.113 l -65.044,-13.006 0,6.141 c 0.292,0 0.584,-0.073 0.889,-0.024 l 66.141,10.774 c 3.026,0.494 5.084,3.343 4.585,6.366 -0.444,2.726 -2.795,4.665 -5.474,4.665 -0.293,0 -0.597,-0.024 -0.901,-0.073 l -65.252,-10.632 0,4.896 c 0.269,-0.009 0.536,-0.088 0.804,-0.052 l 66.135,9.621 c 3.026,0.436 5.133,3.261 4.701,6.293 -0.408,2.762 -2.771,4.75 -5.493,4.75 -0.262,0 -0.523,-0.018 -0.804,-0.055 l -65.343,-9.502 0,5.593 c 0.22,-0.006 0.427,-0.088 0.652,-0.064 l 66.146,7.77 c 3.05,0.362 5.224,3.118 4.871,6.166 -0.335,2.819 -2.729,4.902 -5.517,4.902 -0.214,0 -0.427,-0.019 -0.646,-0.036 l -65.508,-7.688 0,76.97 74.014,0 0,-133.227 -74,-14.802 z m 61.659,96.214 c -2.539,0 -4.621,-2.076 -4.621,-4.621 0,-2.558 2.082,-4.628 4.621,-4.628 2.558,0 4.628,2.07 4.628,4.628 0,2.545 -2.071,4.621 -4.628,4.621 z"
											id="path7" />
										<path style="fill:#e37222;fill-opacity:1" inkscape:connector-curvature="0"
											d="m 24.673,81.79 c 1.349,-0.067 2.7,-0.116 4.04,-0.116 17.455,0 36.233,5.949 36.233,19.004 l 0,45.949 c 0,1.76 -0.365,3.367 -0.989,4.865 l 19.927,0 0,-148.015 -59.211,29.605 0,48.708 z"
											id="path9" />
										<path style="fill:#e37222;fill-opacity:1" inkscape:connector-curvature="0"
											d="M 28.713,129.388 C 12.857,129.388 0,124.255 0,117.904 l 0,11.484 c 0,6.352 12.857,11.484 28.713,11.484 15.856,0 28.713,-5.14 28.713,-11.484 l 0,-11.484 c 10e-4,6.351 -12.857,11.484 -28.713,11.484 z"
											id="path11" />
										<path style="fill:#e37222;fill-opacity:1" inkscape:connector-curvature="0"
											d="M 28.713,146.626 C 12.857,146.626 0,141.481 0,135.136 l 0,11.49 c 0,6.345 12.857,11.484 28.713,11.484 15.856,0 28.713,-5.14 28.713,-11.484 l 0,-11.49 c 10e-4,6.345 -12.857,11.49 -28.713,11.49 z"
											id="path13" />
										<path style="fill:#e37222;fill-opacity:1" inkscape:connector-curvature="0"
											d="M 28.713,89.194 C 12.857,89.194 0,94.327 0,100.677 l 0,11.484 c 0,6.352 12.857,11.49 28.713,11.49 15.856,0 28.713,-5.139 28.713,-11.49 l 0,-11.484 C 57.427,94.327 44.569,89.194 28.713,89.194 Z m 0,20.1 c -15.78,0 -25.846,-5.104 -25.846,-8.617 0,-3.513 10.065,-8.609 25.846,-8.609 15.777,0 25.839,5.097 25.839,8.609 10e-4,3.514 -10.062,8.617 -25.839,8.617 z"
											id="path15" />
									</g>
								</g>
							</g>
						</g>
					</a>
					<g style="stroke:none;filter:url(#filter10808-5)" id="g11933-9"
						transform="matrix(1.0613937,0,0,1.0613937,-120.09243,-21.379266)">
						<g transform="matrix(1.25,0,0,-1.25,561.68839,545.0498)" id="g18253-9-8-6"
							style="fill:#0098db;fill-opacity:1;stroke:none" />
					</g>
					<g id="g18259" transform="matrix(1.9640762,0,0,-1.9153417,481.70087,591.33807)" />
					<flowRoot xml:space="preserve" id="flowRoot11404"
						style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						transform="translate(148.99724,400.37865)">
						<flowRegion id="flowRegion11406">
							<rect id="rect11408" width="115.87329" height="50.5" x="51.53767" y="162.79636" />
						</flowRegion>
						<flowPara id="flowPara11410" />
					</flowRoot>
					<flowRoot xml:space="preserve" id="flowRoot11412"
						style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						transform="translate(148.99724,400.37865)">
						<flowRegion id="flowRegion11414">
							<rect id="rect11416" width="77.82534" height="48.078766" x="46.695206" y="131.32033" />
						</flowRegion>
						<flowPara id="flowPara11418">PublicHubavailabilityinthe last90 days</flowPara>
						<flowPara id="flowPara11420" />
						<flowPara id="flowPara11422" />
						<flowPara id="flowPara11424" />
						<flowPara id="flowPara11426" />
					</flowRoot>
					<flowRoot xml:space="preserve" id="flowRoot11428"
						style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						transform="translate(148.99724,400.37865)">
						<flowRegion id="flowRegion11430">
							<rect id="rect11432" width="103.76712" height="47.041096" x="12.452055" y="151.38197" />
						</flowRegion>
						<flowPara id="flowPara11434">aaPublicHubavailabilityinthe last90 days</flowPara>
						<flowPara id="flowPara11436" />
						<flowPara id="flowPara11438" />
						<flowPara id="flowPara11440" />
						<flowPara id="flowPara11442" />
					</flowRoot>
					<flowRoot xml:space="preserve" id="flowRoot11450"
						style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						transform="translate(148.99724,400.37865)">
						<flowRegion id="flowRegion11452">
							<rect id="rect11454" width="128.67123" height="45.311646" x="6.2260275" y="139.96759" />
						</flowRegion>
						<flowPara id="flowPara11456">Publichubavailabilityinthe last90 days-------------</flowPara>
						<flowPara id="flowPara11458" />
						<flowPara id="flowPara11460" />
						<flowPara id="flowPara11462" />
						<flowPara id="flowPara11464" />
						<flowPara id="flowPara11466" />
					</flowRoot> <a id="a8372" (click)="carouselSlide(8)">
						<g id="g8328">
							<g id="g17734">
								<g transform="matrix(1.0350803,0,0,1.0350803,-62.740306,-65.821112)" id="g12263">
									<path inkscape:connector-curvature="0" id="path18255-2-2-5"
										style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#0098db;stroke-width:2.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter12251)"
										d="m 446.73763,589.8715 c -10.63782,0 -19.26032,8.62383 -19.26032,19.25899 0,10.63782 8.6225,19.25899 19.26032,19.25899 10.63781,0 19.25898,-8.62117 19.25898,-19.25899 0,-10.63516 -8.62117,-19.25899 -19.25898,-19.25899"
										sodipodi:nodetypes="csssc" />
									<g style="stroke:none" id="g11933" transform="matrix(0.59715604,0,0,0.59715604,171.17035,275.95115)">
										<g transform="matrix(1.25,0,0,-1.25,476.55411,540.46592)" id="g18249-6-3"
											style="fill:#e37222;fill-opacity:1;stroke:none">
											<path style="fill:#0098db;fill-opacity:1;fill-rule:nonzero;stroke:none"
												d="m -11.686289,5.5373983 c 0.259,-0.141 0.439,-0.404 0.439,-0.717 l 0,-5.8259997 1.9010006,-1.8999997 c 0.323,-0.323 0.323,-0.846 0,-1.166 -0.1600001,-0.162 -0.3710001,-0.243 -0.5810001,-0.243 -0.2150005,0 -0.4260005,0.081 -0.5840005,0.243 l -2.387,2.384 0,6.5079994 c 0,0.313 0.183,0.576 0.441,0.717 -3.482,-0.203 -6.256999,-3.074 -6.256999,-6.6069997 0,-3.6629997 2.976999,-6.6450007 6.640999,-6.6450007 3.6630006,0 6.6450005,2.982001 6.6450005,6.6450007 0,3.5329997 -2.7779999,6.4019997 -6.2580005,6.6069997"
												id="path18251-4-6" inkscape:connector-curvature="0" />
										</g>
									</g>
								</g>
								<text sodipodi:linespacing="125%" id="text11468" y="564.78888" x="399.7272"
									style="font-style:normal;font-weight:normal;font-size:8.67404556px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#8562a3;fill-opacity:0.98823529;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
									xml:space="preserve">
									<tspan id="tspan11472"
										style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.05513115px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#8562a3;fill-opacity:0.98823529"
										y="564.78888" x="400.30698" sodipodi:role="line">Open Access Hub Availability</tspan>
									<tspan id="tspan17732"
										style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.05513115px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#8562a3;fill-opacity:0.98823529"
										y="569.60779" x="399.7272" sodipodi:role="line">in the past month</tspan>
									<tspan id="txtMonthlyAvailability"
										style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.7826972px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:0.98823529"
										y="576.30811" x="399.7272" sodipodi:role="line">{{openAccessHubAvaiability}}</tspan>
								</text>
							</g>
						</g>
					</a>
					<a id="a8284" (click)="carouselSlide(6)">
						<g id="g8272">
							<a id="a8269" target="_self">
								<path sodipodi:nodetypes="csssc" inkscape:connector-curvature="0" id="path18261-8"
									style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#fdc82f;stroke-width:1.92756569;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter12251)"
									d="m 499.91145,475.70246 c -13.1434,0 -23.79515,10.39385 -23.79515,23.20632 0,12.81727 10.65175,23.20473 23.79515,23.20473 13.14339,0 23.79679,-10.38746 23.79679,-23.20473 0,-12.81247 -10.6534,-23.20632 -23.79679,-23.20632" />
							</a>
							<path inkscape:connector-curvature="0" id="path11719"
								d="m 494.13342,490.53741 11.77108,0 0,0.56857 -11.77108,0 0,-0.56857 z"
								style="fill:#fdc82f;fill-opacity:1;fill-rule:nonzero;stroke:none" />
							<path inkscape:connector-curvature="0" id="path11717"
								d="m 494.13342,482.97483 2.13372,0 0,6.79023 -2.13372,0 0,-6.79023 z"
								style="fill:#fdc82f;fill-opacity:1;fill-rule:nonzero;stroke:none" />
							<path inkscape:connector-curvature="0" id="path11715"
								d="m 497.33931,479.93415 2.13827,0 0,9.82943 -2.13827,0 0,-9.82943 z"
								style="fill:#fdc82f;fill-opacity:1;fill-rule:nonzero;stroke:none" />
							<path inkscape:connector-curvature="0" id="path11713"
								d="m 500.54974,486.54273 2.14432,0 0,3.22233 -2.14432,0 0,-3.22233 z"
								style="fill:#fdc82f;fill-opacity:1;fill-rule:nonzero;stroke:none" />
							<path inkscape:connector-curvature="0" id="path11711"
								d="m 503.76169,484.24339 2.14281,0 0,5.52019 -2.14281,0 0,-5.52019 z"
								style="fill:#fdc82f;fill-opacity:1;fill-rule:nonzero;stroke:none" />
							<text y="497.50131" x="499.81934" id="text18205-3"
								style="font-variant:normal;font-weight:900;font-stretch:normal;font-size:2.96700549px;font-family:'Roboto Black';-inkscape-font-specification:Roboto-Black;writing-mode:lr-tb;fill:#8562a3;fill-opacity:1;fill-rule:nonzero;stroke:none">
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.81891394px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#8562a3"
									x="499.81934" y="497.50131" id="txtPublishedProductsLabel">Published Products</tspan>
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.67404556px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#000000"
									x="499.81934" y="507.28772" id="txtPublishedProducts">{{publishedProducts}}</tspan>
							</text>
						</g>
					</a>
					<a id="a8356" (click)="carouselSlide(3)">
						<g id="g8313">
							<g id="g11327" transform="matrix(0.34648158,0,0,0.34648158,275.83734,215.65945)"
								style="filter:url(#filter10808-5)">
								<circle r="51.841511" cy="812.76575" cx="377.34961" id="path11250"
									style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:#008542;stroke-width:5.56325579;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
								<g transform="translate(3.9576696,-4.4506045)" id="g11319">
									<g id="g11800" transform="matrix(0.49349911,0,0,0.49349911,187.23405,389.58121)">
										<g id="g35100" transform="matrix(1.25,0,0,-1.25,364.21827,800.38637)">
											<path
												d="m 0,0 c 0,1.506 -1.221,2.726 -2.725,2.726 l -8.397,0 c -1.502,0 -2.723,-1.22 -2.723,-2.726 l 0.009,-11 c 0,-0.658 0.531,-1.191 1.188,-1.191 0.656,0 1.188,0.533 1.188,1.191 l 0,10.054 0.504,0 0,-26.891 c 0,-0.985 0.798,-1.783 1.786,-1.783 0.981,0 1.779,0.798 1.779,1.783 l 0,14.724 0.974,0 0,-14.72 c 0,-0.987 0.798,-1.787 1.786,-1.787 0.981,0 1.779,0.8 1.779,1.787 l 0,26.887 0.48,0 0,-10.014 c 0,-0.659 0.532,-1.193 1.19,-1.193 0.659,0 1.19,0.534 1.19,1.193 L 0,0 Z m -6.829,3.837 c 1.653,0 2.992,1.34 2.992,2.99 0,1.649 -1.339,2.986 -2.992,2.986 -1.649,0 -2.985,-1.337 -2.985,-2.986 0,-1.65 1.336,-2.99 2.985,-2.99"
												style="fill:#008542;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path35102"
												inkscape:connector-curvature="0" />
										</g>
										<g id="g35100-7" transform="matrix(1.25,0,0,-1.25,385.86843,800.38637)">
											<path
												d="m 0,0 c 0,1.506 -1.221,2.726 -2.725,2.726 l -8.397,0 c -1.502,0 -2.723,-1.22 -2.723,-2.726 l 0.009,-11 c 0,-0.658 0.531,-1.191 1.188,-1.191 0.656,0 1.188,0.533 1.188,1.191 l 0,10.054 0.504,0 0,-26.891 c 0,-0.985 0.798,-1.783 1.786,-1.783 0.981,0 1.779,0.798 1.779,1.783 l 0,14.724 0.974,0 0,-14.72 c 0,-0.987 0.798,-1.787 1.786,-1.787 0.981,0 1.779,0.8 1.779,1.787 l 0,26.887 0.48,0 0,-10.014 c 0,-0.659 0.532,-1.193 1.19,-1.193 0.659,0 1.19,0.534 1.19,1.193 L 0,0 Z m -6.829,3.837 c 1.653,0 2.992,1.34 2.992,2.99 0,1.649 -1.339,2.986 -2.992,2.986 -1.649,0 -2.985,-1.337 -2.985,-2.986 0,-1.65 1.336,-2.99 2.985,-2.99"
												style="fill:#008542;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path35102-2"
												inkscape:connector-curvature="0" />
										</g>
										<g id="g35100-5" transform="matrix(1.25,0,0,-1.25,407.51861,800.38637)">
											<path
												d="m 0,0 c 0,1.506 -1.221,2.726 -2.725,2.726 l -8.397,0 c -1.502,0 -2.723,-1.22 -2.723,-2.726 l 0.009,-11 c 0,-0.658 0.531,-1.191 1.188,-1.191 0.656,0 1.188,0.533 1.188,1.191 l 0,10.054 0.504,0 0,-26.891 c 0,-0.985 0.798,-1.783 1.786,-1.783 0.981,0 1.779,0.798 1.779,1.783 l 0,14.724 0.974,0 0,-14.72 c 0,-0.987 0.798,-1.787 1.786,-1.787 0.981,0 1.779,0.8 1.779,1.787 l 0,26.887 0.48,0 0,-10.014 c 0,-0.659 0.532,-1.193 1.19,-1.193 0.659,0 1.19,0.534 1.19,1.193 L 0,0 Z m -6.829,3.837 c 1.653,0 2.992,1.34 2.992,2.99 0,1.649 -1.339,2.986 -2.992,2.986 -1.649,0 -2.985,-1.337 -2.985,-2.986 0,-1.65 1.336,-2.99 2.985,-2.99"
												style="fill:#008542;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path35102-8"
												inkscape:connector-curvature="0" />
										</g>
									</g>
								</g>
							</g>
							<text y="497.11731" x="406.30206" id="text18205-1"
								style="font-variant:normal;font-weight:900;font-stretch:normal;font-size:2.96700549px;font-family:'Roboto Black';-inkscape-font-specification:Roboto-Black;writing-mode:lr-tb;fill:#8562a3;fill-opacity:1;fill-rule:nonzero;stroke:none">
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.85513115px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle"
									x="406.30206" y="497.11731" id="tspan29438">Registered Users</tspan>
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.7826972px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#000000"
									x="406.30206" y="503.8176" id="txtRegisteredUsers">{{registeredUsers}}</tspan>
							</text>
						</g>
					</a>
					<!-- COLLGS -->
					<a class="bubble" (click)="OnNavigatePage1()">
						<g id="g8313">
							<g id="g11327" transform="matrix(0.34648158,0,0,0.34648158,360,280)" style="filter:url(#filter10808-5)">
								<circle r="51.841511" cy="812.76575" cx="377.34961" id="path11250"
									style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:maroon;stroke-width:5.56325579;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
								<g transform="translate(3.9576696,-4.4506045)" id="g11319">
									<g id="g11800" transform="matrix(0.49349911,0,0,0.49949911,187.23405,389.58121)">
										<g id="g35100" transform="matrix(1.25,0,0,-1.25,364.21827,800.38637)">
											<path
												d="m 0,0 c 0,1.506 -1.221,2.726 -2.725,2.726 l -8.397,0 c -1.502,0 -2.723,-1.22 -2.723,-2.726 l 0.009,-11 c 0,-0.658 0.531,-1.191 1.188,-1.191 0.656,0 1.188,0.533 1.188,1.191 l 0,10.054 0.504,0 0,-26.891 c 0,-0.985 0.798,-1.783 1.786,-1.783 0.981,0 1.779,0.798 1.779,1.783 l 0,14.724 0.974,0 0,-14.72 c 0,-0.987 0.798,-1.787 1.786,-1.787 0.981,0 1.779,0.8 1.779,1.787 l 0,26.887 0.48,0 0,-10.014 c 0,-0.659 0.532,-1.193 1.19,-1.193 0.659,0 1.19,0.534 1.19,1.193 L 0,0 Z m -6.829,3.837 c 1.653,0 2.992,1.34 2.992,2.99 0,1.649 -1.339,2.986 -2.992,2.986 -1.649,0 -2.985,-1.337 -2.985,-2.986 0,-1.65 1.336,-2.99 2.985,-2.99"
												style="fill:maroon;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path35102"
												inkscape:connector-curvature="0" />
										</g>
										<g id="g35100-7" transform="matrix(1.25,0,0,-1.25,385.86843,800.38637)">
											<path
												d="m 0,0 c 0,1.506 -1.221,2.726 -2.725,2.726 l -8.397,0 c -1.502,0 -2.723,-1.22 -2.723,-2.726 l 0.009,-11 c 0,-0.658 0.531,-1.191 1.188,-1.191 0.656,0 1.188,0.533 1.188,1.191 l 0,10.054 0.504,0 0,-26.891 c 0,-0.985 0.798,-1.783 1.786,-1.783 0.981,0 1.779,0.798 1.779,1.783 l 0,14.724 0.974,0 0,-14.72 c 0,-0.987 0.798,-1.787 1.786,-1.787 0.981,0 1.779,0.8 1.779,1.787 l 0,26.887 0.48,0 0,-10.014 c 0,-0.659 0.532,-1.193 1.19,-1.193 0.659,0 1.19,0.534 1.19,1.193 L 0,0 Z m -6.829,3.837 c 1.653,0 2.992,1.34 2.992,2.99 0,1.649 -1.339,2.986 -2.992,2.986 -1.649,0 -2.985,-1.337 -2.985,-2.986 0,-1.65 1.336,-2.99 2.985,-2.99"
												style="fill:maroon;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path35102-2"
												inkscape:connector-curvature="0" />
										</g>
										<g id="g35100-5" transform="matrix(1.25,0,0,-1.25,407.51861,800.38637)">
											<path
												d="m 0,0 c 0,1.506 -1.221,2.726 -2.725,2.726 l -8.397,0 c -1.502,0 -2.723,-1.22 -2.723,-2.726 l 0.009,-11 c 0,-0.658 0.531,-1.191 1.188,-1.191 0.656,0 1.188,0.533 1.188,1.191 l 0,10.054 0.504,0 0,-26.891 c 0,-0.985 0.798,-1.783 1.786,-1.783 0.981,0 1.779,0.798 1.779,1.783 l 0,14.724 0.974,0 0,-14.72 c 0,-0.987 0.798,-1.787 1.786,-1.787 0.981,0 1.779,0.8 1.779,1.787 l 0,26.887 0.48,0 0,-10.014 c 0,-0.659 0.532,-1.193 1.19,-1.193 0.659,0 1.19,0.534 1.19,1.193 L 0,0 Z m -6.829,3.837 c 1.653,0 2.992,1.34 2.992,2.99 0,1.649 -1.339,2.986 -2.992,2.986 -1.649,0 -2.985,-1.337 -2.985,-2.986 0,-1.65 1.336,-2.99 2.985,-2.99"
												style="fill:maroon;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path35102-8"
												inkscape:connector-curvature="0" />
										</g>
									</g>
								</g>
							</g>
							<text y="497.11731" x="406.30206" id="text18205-1"
								style="font-variant:normal;font-weight:900;font-stretch:normal;font-size:2.96700549px;font-family:'Roboto Black';-inkscape-font-specification:Roboto-Black;writing-mode:lr-tb;fill:#8562a3;fill-opacity:1;fill-rule:nonzero;stroke:none">
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.85513115px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle"
									x="490" y="563" id="tspan29438">Partners</tspan>
								<tspan sodipodi:role="line"
									style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.7826972px;font-family:NotesEsaReg;-inkscape-font-specification:NotesEsaReg;text-align:center;text-anchor:middle;fill:#000000"
									x="490" y="569" id="txtRegisteredUsers">{{partners}}</tspan>
							</text>
						</g>
					</a>
				</g>
			</svg>
		</div>
	</div>
</div>