<div class="container-fluid " style="margin-bottom: 50px;">
  <div class="row">
    <!-- OPEN HUB -->
    <div class="col-md-3 trends-page-column-container">
      <div class="panel1 shadow bigpanel">
        <div class="row panel-row">
          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2 panel-img">
            <img src="../../assets/images/openhub/openhub.png" height="52" />
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 col-sm-10 col-xs-10">
            <a href="https://scihub.copernicus.eu" target="_blank">
              <h2 class="label1">Copernicus Open Access Hub</h2>
            </a>
          </div>
        </div>
        <div class="row panel-row rows" style="height:70px">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/folded-newspaper1.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <label class="label1"> <a href="https://scihub.copernicus.eu/news/" target="_blank">
                <h4>LATEST NEWS</h4>
              </a>
            </label>
          </div>
        </div>
        <div class="row panel-row1">
          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/group1.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 col-sm-10 col-xs-10">
            <label class="label1">{{scihub_number_of_registered_users}} Self registered Users</label>
          </div>
        </div>
        <div class="row panel-row2 rows">
          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/data_volume1.svg" height="50">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="row">
              <label id="p1Dowloaded" class="label32">{{scihub_number_of_download}} Products Downloaded</label>
            </div>
            <div class="row">
              <label id="v1Dowloaded" class="label32">{{scihub_volume_of_download}} Volume Downloaded</label>
            </div>
          </div>
        </div>
        <div class="low">
          <div class="row panel-row rows" style="height:130px;">
            <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/hard-drive1.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label1">S1, S2, S3 NTC No rolling policy</label>
              </div>
              <div class="row">
                <label class="label1">S3 NRT/STC 1month</label>
              </div>
              <div class="row">
                <label class="label1">S5P NRT 1 month, S5P OFFL 2 years</label>
              </div>
            </div>
          </div>

          <!-- LTA For OPEN HUB -->
          <div class="row panel-row rows" style="height:70px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/data_volume4.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <div><label class="label2">LTA Yes for S1</label></div>
              </div>

            </div>
          </div>

          <!-- Data Offer for OPEN HUB -->
          <div class="row panel-row" style="height: 200px;">
            <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/sentinels/sentinels-all-until-5p.png" height="55">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label32">Sentinel-1 NTC</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-2</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 OLCI</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SLSTR</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SRAL</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SYN</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-5P (preops)</label>
              </div>
            </div>
          </div>
          <div class="row last-panel-row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/download1.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <label class="label1">Max 2 concurrent Downloads</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- COL HUB -->
    <div class="col-md-3 trends-page-column-container">
      <div class="panel2 shadow bigpanel" style="max-width: 500px;">
        <div class="row panel-row">
          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2 panel-img">
            <img src="../../assets/images/colhub/colhub.png" height="52" />
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10 col-sm-10 col-xs-10">
            <a class="panel2link" href="https://colhub.copernicus.eu" target="_blank">
              <h2 class="label1">Collaborative Hub</h2>
            </a>
          </div>
        </div>
        <div class="row panel-row rows" style="height:70px">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/folded-newspaper2.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <label class="label1"><a class="panel2link" href="https://colhub.copernicus.eu/news/" target="_blank">
                <h4>LATEST NEWS</h4>
              </a></label>
          </div>
        </div>
        <div class="row panel-row1">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/group2.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="row">
              <a href=" https://sentinels.copernicus.eu/web/sentinel/missions/collaborative/national-points-of-contact"
                class="panel2link" target="_blank">
                <label class="label2" id="page2label2">{{colhub_number_of_registered_users_collaborative}} Collaborative
                  GS</label>
              </a>
            </div>
            <div class="row">
              <label class="label2" id="page2label2b">{{colhub_number_of_registered_users_dhr}} Data Hub Relays</label>
              <!-- <label>/</label> -->
            </div>
          </div>
        </div>
        <div class="row panel-row rows">
          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/data_volume2.svg" height="50">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="row">
              <label id="p2Dowloaded" class="label32">{{colhub_number_of_download}} Products Downloaded</label>
            </div>
            <div class="row">
              <label id="v2Dowloaded" class="label32">{{colhub_volume_of_download}} Volume Downloaded</label>
            </div>
          </div>
        </div>
        <div class="low">
          <div class="row panel-row rows" style="height:130px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/hard-drive2.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label2">Node1 No rolling policy</label>
              </div>
              <div class="row">
                <label class="label2">but S1 NRT 1month S3 NRT/STC 1month</label>
              </div>
              <div class="row">
                <label class="label2">Node2 2 weeks</label>
              </div>
              <div class="row">
                <label class="label2">Node3 3 weeks</label>
              </div>
            </div>
          </div>
          <div class="row panel-row rows" style="height:70px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/data_volume4.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label2">LTA Node1 Yes for S1 </label>
              </div>
              <div class="row">
                <label class="label2">Node2 and Node3 No</label>
              </div>
            </div>
          </div>
          <div class="row panel-row" style="height: 200px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/sentinels/sentinels1.png" height="55">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label32">Sentinel-1 NRT & NTC</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-2</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 OLCI</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SLSTR</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SRAL</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SYN</label>
              </div>
              <div class="row">
                <label class="label32"></label>
              </div>
            </div>
          </div>
          <div class="row last-panel-row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/download2.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label2">Max 10 concurrent downloads per Node</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- INT HUB -->
    <div class="col-md-3 trends-page-column-container">
      <div class="panel3 shadow bigpanel">
        <div class="row panel-row">
          <div class="col-md-2 col-sm-2 col-xs-2 panel-img">
            <img src="../../assets/images/inthub/inthub.png" height="52" />
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <a class="panel3link" href="https://inthub.copernicus.eu" target="_blank">
              <h2 class="label1">International Hub</h2>
            </a>
          </div>
        </div>
        <div class="row panel-row rows" style="height:70px">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/folded-newspaper3.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <label class="label1"><a class="panel3link" href="https://inthub.copernicus.eu/news/" target="_blank">
                <h4>LATEST NEWS</h4>
              </a></label>
          </div>
        </div>
        <div class="row panel-row1">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/group3.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="row">
              <a href="https://sentinels.copernicus.eu/web/sentinel/missions/international-cooperation/partners"
                class="panel3link" target="_blank">
                <label class="label2" id="page2label3">{{inthub_number_of_registered_users}} International
                  Agreements</label>
              </a>
            </div>
          </div>
        </div>
        <div class="row panel-row rows">
          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/data_volume3.svg" height="50">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="row">
              <label id="p3Dowloaded" class="label32">{{inthub_number_of_download}} Products Downloaded</label>
            </div>
            <div class="row">
              <label id="v3Dowloaded" class="label32">{{inthub_volume_of_download}} Volume Downloaded</label>
            </div>
          </div>
        </div>
        <div class="low">
          <div class="row panel-row rows" style="height:130px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/hard-drive3.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <label class="label2"> 3 weeks</label>
            </div>
          </div>

          <!-- LTA For OPEN HUB -->
          <div class="row panel-row rows" style="height:70px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/data_volume4.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label2">LTA No</label>
              </div>
            </div>
          </div>
          <div class="row panel-row" style="height: 200px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/sentinels/sentinels1.png" height="55">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label32">Sentinel-1 NTC</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-2</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 OLCI</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SLSTR</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SRAL</label>
              </div>
              <div class="row">
                <label class="label32"></label>
              </div>
              <div class="row">
                <label class="label32"></label>
              </div>
            </div>
          </div>
          <div class="row last-panel-row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/download3.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <label class="label1">Max 10 concurrent downloads per user</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- COP HUB -->
    <div class="col-md-3 trends-page-column-container">
      <div class="panel4 shadow bigpanel">
        <div class="row panel-row">
          <div class="col-md-2 col-sm-2 col-xs-2 panel-img">
            <img src="../../assets/images/cophub/cophub.png" height="52" />
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <a class="panel4link" href="https://cophub.copernicus.eu" target="_blank">
              <h2 class="label1">Copernicus Services Hub</h2>
            </a>
          </div>
        </div>
        <div class="row panel-row rows" style="height:70px">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/folded-newspaper4.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <label class="label1"><a class="panel4link" href="https://cophub.copernicus.eu/news/" target="_blank">
                <h4>LATEST NEWS</h4>
              </a></label>
          </div>
        </div>
        <div class="row panel-row1">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/group4.svg" height="42">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <label class="label1" id="page2label4">{{cophub_number_of_registered_users}} Registered Users</label>
          </div>
        </div>
        <div class="row panel-row rows">
          <div class="col-md-2 col-sm-2 col-xs-2 col-sm-2 col-xs-2">
            <img src="../../assets/images/data_volume.svg" height="50">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="row">
              <label id="p4Dowloaded" class="label32">{{cophub_number_of_download}} Products Downloaded</label>
            </div>
            <div class="row">
              <label id="v4Dowloaded" class="label32">{{cophub_volume_of_download}} Volume Downloaded</label>
            </div>
          </div>
        </div>
        <div class="low">
          <div class="row panel-row rows" style="height:130px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/hard-drive2.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label2">No Rolling Policy</label>
              </div>
              <div class="row">
                <label class="label2">but S1 NRT 1month S3 NRT/STC 1 month</label>
              </div>
            </div>
          </div>
          <!-- LTA For OPEN HUB -->
          <div class="row panel-row rows" style="height:70px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/data_volume4.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label2">LTA Yes for S1</label>
              </div>
            </div>
          </div>
          <div class="row panel-row" style="height: 200px;">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/sentinels/sentinels1.png" height="55">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="row">
                <label class="label32">Sentinel-1 NRT & NTC</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-2</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 OLCI</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SLSTR</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SRAL</label>
              </div>
              <div class="row">
                <label class="label32">Sentinel-3 SYN</label>
              </div>
              <div class="row">
                <label class="label32"></label>
              </div>
            </div>
          </div>
          <div class="row last-panel-row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <img src="../../assets/images/download4.svg" height="42">
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <label class="label1">Max 10 concurrent downloads</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>