<div class="container-fluid">
  <app-row-title [rowTitleComponent]="myTitle"></app-row-title>
  <br>

  <div class="row">
    <app-row-title-value [titleValue]="child1"></app-row-title-value>
  </div>
  <br>

  <div class="row ">
    <div class="col-md-12 text-center">
      <img style="margin: auto" src="../../assets/dev/switchnumVol.png" class="img-responsive">
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col-md-6">
      <div class="text-center">Title 1</div>
      <img style="margin: auto" src="../../assets/dev/exploitationb.png" class="img-responsive">
    </div>
    <div class="col-md-6">
      <div class="text-center">Title 2</div>
      <img style="margin: auto" src="../../assets/dev/exploitationb.png" class="img-responsive">
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-8"> 
   -->
  <!-- <div class="row">
        <img style="margin: auto; float: left; width: 15%;" src="../../assets/dev/screenshots/switch1.png" class="img-responsive">
      </div> -->
  <!-- <div class="row">
        <div class="col-md-4">
          <img style="margin: auto; float: left; width: 80%;" src="../../assets/dev/switchnumVol.png"
            class="img-responsive">

        </div>
        <div class="col-md-4">
          <app-row-title-value [titleValue]="child1"></app-row-title-value> -->
  <!-- <app-sub-title [subTitleComponent]="subtitle1"></app-sub-title> -->
  <!-- </div> -->
  <!-- <div class="col-md-4">
          <app-row-title-value [titleValue]="child3"></app-row-title-value>
        </div> -->
  <!-- </div>
      <br>

      <div>
        <app-mid-graph></app-mid-graph> -->
  <!-- <img style="margin: auto;" src="../../assets/dev/graph3.png" class="img-responsive"> -->
  <!-- </div>
    </div>



    <div class="col-md-4 text-center"> -->
  <!-- <img style="margin: auto; width: 70%;" src="../../assets/dev/switchOverallPerSentinel.png"
        class="img-responsive text-center"> -->
  <!-- <br>
      <br>
      <br>
      <br> -->
  <!-- <app-sub-title [subTitleComponent]="subtitle3"></app-sub-title> -->
  <!-- <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
        <img style="margin: auto; width: 120%;" src="../../assets/dev/exploitationb.png" class="img-responsive">
      </div>
    </div>
  </div> -->




</div>