/*
* CSS FOR SPECIFIC ROW ITEM COMPONENT
*/

.row-container {
  /* height: 100px; */
  /* background-color: lightgreen; */
}

.description {
  font-size: 2em;
  color: #337AB7;
}

.chart-container {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  max-width: 50%;
  font-size: 2em;
  background-color: dodgerblue;
}