<div class="row unselectable" style="height: 40px !important">
  <nav class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid text-right">
      <div class="footer">Developed by <img src="../../assets/images/logo_serco.png" height="30" style="padding:5px;"> |
        <span>version: {{version}}</span> |
        <a href="../../Sentinel_Data_Dashboard_User_Guide.pdf" target="_blank"><img
            src="../../assets/images/user_guide.png" height="30" style="padding:5px;">User Guide</a>
      </div>
    </div>
  </nav>
</div>